@use "../utils";

.button {
    white-space: nowrap;
    box-sizing: border-box;
    text-align: center;
    height: fit-content;
    border: none;
    border-radius: 0.5rem;
    color: utils.$light;
    font-weight: 700;
    cursor: pointer;
    transition: 0.2s;
    &--small {
        padding: 0.5rem 1rem;
        font-size: 0.875rem;
    }

    &--medium {
        padding: 0.75rem 1.5rem;
        font-size: 0.875rem;
    }

    &--large {
        padding: 1rem 2rem;
        font-size: 1.125rem;
    }
    &--shadow
    {
        box-shadow: 0px 4px 4px 0px rgba($color: #000000, $alpha: .25);
    }
    &--default {
        background-color: utils.$lightAccent;
    }
    &--mobile-absolute-bottom
    {
        @media screen and (max-width: 960px) {
            position: absolute;
            bottom: 0;
        }
    }
    &--fatal {
        border: 1px solid utils.$fatal;
        background-color: transparent;

        &:hover {
            transform: translateY(-2px);
            box-shadow: 0px 3px 6px utils.$fatal;
            color: utils.$fatal;
        }
    }

    &--warning {
        border: 1px solid #ffac1e;
        background-color: transparent;

        &:hover {
            transform: translateY(-2px);
            box-shadow: 0px 3px 6px utils.$warning;
            color: utils.$warning;
        }
    }
    &--mobile-full-width {
        @media screen and (max-width: 960px) {
            width: 100%;
        }
    }
    &--full-width {
        width: 100%;
    }

    &--info {
        border: 1px solid utils.$lightAccent;
        background-color: transparent;

        &:hover {
            transform: translateY(-2px);
            box-shadow: 0px 3px 6px utils.$lightAccent;
            color: utils.$lightAccent;
        }
    }
}
