.datePicker
{
    width: 100%;
    gap:.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    &__input
    {
        box-sizing: border-box;
        width: calc(100% - 1rem);
        margin-left: 1rem;
        padding:1rem;
        background-color: white;
        border:2px solid #ffffff;
        color:black;
        font-size: 0.875rem;
        font-weight: 700;
    }
}