.datePicker
{
    width: 100%;
    gap:.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    &__input
    {
        box-sizing: border-box;
        width: calc(100% - 1rem);
        margin:0 auto;
        padding:.5rem;
        background-color: transparent;
        border:2px solid #ffffff;
        color:white;
        font-size: 0.875rem;
        font-weight: 700;
    }
}
input[type="date"]::-webkit-calendar-picker-indicator
{
    filter: invert(1);
    transform: scale(1.5);
    cursor: pointer;
}