.form
{
    display: flex;
    flex-direction: column;
    color:black;
    &--w25
    {
        width: 25%;
        max-width: 25%;
    }
    &--w50
    {
        width: 50%;
        max-width: 50%;
    }
    &--w75
    {
        width: 75%;
        max-width: 75%;
    }   
    &--w100
    {
        width: 100%;
        max-width: 100%;
    }
    &--m5
    {
        margin:5rem;
    }
    &--white
    {
        color:white;
    }
    &--black
    {
        color: black;
    }
}