.form
{
    display: flex;
    flex-direction: column;
    color:black;
    align-items: flex-start; 
    gap:1rem;
    &--w25
    {
        width: 25%;
        max-width: 25%;
    }
    &--w50
    {
        width: 50%;
        max-width: 50%;
    }
    &--w75
    {
        width: 75%;
        max-width: 75%;
    }   
    &--w100
    {
        width: 100%;
        max-width: 100%;
    }
    &--m5
    {
        margin:5rem;
    }
    &--white
    {
        color:white;
    }
    &--black
    {
        color: black;
    }
    &-control
    {
        padding:.5rem 1rem;
        width: 100%;
        border-radius: .5rem;
        border:none;
        box-sizing: border-box;
        border:1px solid #848484;
        color:black;
        font-size: .875rem;
        &::selection
        {
            background-color: white;
            color:black;
        }
    }
    &-label
    {
        font-weight: 700;
        font-size: .875rem;
        margin-bottom:.5rem;
    }
}