.inputSearch
{
    position: relative;
    box-sizing: border-box;
    position: relative;
    &::before
    {
        content: ">";
        position: absolute;
        right: 1rem;
        top:50%;
        font-weight: 700;
        transform: translateY(-50%) rotate(90deg) scaleY(1.75);
    }
    &__header
    {
        width: fit-content;
        box-sizing: border-box;
        padding:.5rem .25rem;
        border:1px solid gray;
        &::placeholder
        {
            font-weight: 700;
        }
        &:focus
        {
            border:none;
            border-radius: 0;
            border:1px solid rgb(15, 65, 216);
            box-sizing: border-box;
            outline: none;
        }
    }
    &__list
    {
    z-index: 9999;
    left: 0;
    position: absolute;
    background-color: white;
    color:black;
    font-size: 14px;
    max-height: 10rem;
    overflow-y: scroll;
    width: 100%;
    box-sizing: border-box;
    & li
    {
        padding:1rem .25rem;
    }
    }
}