.loader {
    width: 120px;
    height: 10px;
    background:
     linear-gradient(#4d0cff 0 0) 0/0% no-repeat
     #ddd;
     animation-name: l1;
     animation-iteration-count: 1;
     animation-timing-function: linear;
  }
  @keyframes l1 {
      100% {background-size:100%}
  }