@use "../utils";

.mapNavigation
{
    display: flex;
    position: absolute;
    z-index: 20000;
    right: 0;
    align-items: center;
    transition: .25s;
    &--hidden
    {
        transform: translateX(80%);
        @media screen and (max-width: 960px){
            transform: translateY(60%);
        }
    }
    &__toggle
    {
        background-color: #222837;
        aspect-ratio: 1/1;
        position: relative;
        left:1.5rem;
        display: grid;
        place-items: center;
        z-index: 99999;
        box-shadow: 6px 0px 7px 0px #00000080;    
        cursor: pointer;
        padding: .5rem;
        border-radius: 50%;

        &:hover{
            background-color: #583DFF;
            transition: .25s;
        }
        @media screen and (max-width: 960px){
            & svg{
                transform: rotate(90deg);
            }
        top:1rem;
        left:0;
        }
    }
    @media screen and (max-width: 960px){
        bottom: 0;
        flex-direction: column;
    }
}
.mapControls
{
    display: flex;
    gap:2rem;
    padding:1rem;
    box-sizing: border-box;
    flex-direction: column;
    min-width: 250px;
    height: 100vh;
    background-color: #101218;
    @media screen and (max-width: 960px){
        height: fit-content;
        bottom:0;
        width: 100vw;
    }
}