@use "../utils";

.operations
{
    display:flex;
    @media screen and (max-width: 960px){
        flex-direction: column;
    }
    & *{
        background-color: transparent;
        border:none;
        cursor: pointer;
    }
}