@use "../utils";

.radioInputGroup {
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    border: none;
    padding: 0;
    font-size: 0.75rem;

    &__inputContainer:has(input[type='radio']:checked) {
        border: 1px solid #0055be;
        color: white;
        background-color: #583DFF;

        @media screen and (max-width: 960px) {
            scroll-snap-align: start;
            border: none;
        }
    }

    & legend {
        margin: 0.5rem 0;
    }

    &__inputContainer {
        user-select: none;
        background-color: #101218;
        box-sizing: border-box;
        border: 1px solid rgb(51, 51, 51);
        border-radius: 0.5rem;
        color: white;
        width: 100%;
        text-align: center;
        transition: 0.15s;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.4rem;
        gap: 0.5rem;

        &:hover {
            background-color: rgb(51, 51, 51);

            @media screen and (max-width: 960px) {
                background-color: transparent;
            }
        }

        & label {
            font-size: 0.875rem;
            font-weight: 700;
            display: grid;
            place-items: center;
            cursor: pointer;
            height: 100%;
            text-transform: lowercase;
            padding: 0.4rem 0;
            width: 100%;
            justify-content: center;
            user-select: none;
        }

        & input {
            display: none;
            user-select: none;
        }

        @media screen and (max-width: 960px) {
            min-width: 8rem;
        }
    }

    @media screen and (max-width: 960px) {
        display: flex;
        flex-shrink: 0;
        overflow-x: scroll;
        gap: 1rem;
        width: 90%;
        margin: 0 auto;

        &::-webkit-scrollbar {
            height: 5px;
            margin: 0 .5rem;
            padding: 0 .5rem;
        }
    }
}
