@use "../utils";

.stop {
    box-sizing: border-box;
    background-color: utils.$dark;
    border-radius: .5rem;
    font-weight: 700;
    margin: 0 auto;
    font-size: .875rem;
    cursor: pointer;
    display: grid;
    grid-template-columns: 1fr 5fr;
    width: 100%;
    box-sizing: border-box;

    &__icon {
        display: grid;
        place-items: center;
        padding: .5rem;
        background-color: utils.$mainAccent;
        border-radius: .5rem 0 0 .5rem;
    }

    &__content {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        align-items: flex-start;
        color: utils.$lightNeutral;
        padding: .5rem;

        @media screen and (max-width: 960px) {
            font-size: .625rem;
        }
    }

    &__title {
        font-weight: 900;
        white-space: nowrap;
        color: utils.$light;
        font-size: 1rem;

        @media screen and (max-width: 960px) {
            font-size: .75rem;
        }
    }

    &:hover {
        transition: .2s;
        background-color: utils.$voidNeutral;
    }
}
