@use "variables";

.container {
  display: flex;
  flex-direction: column;
}

.g-1 {
  gap: 1rem;
}

.row-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column: span 12;
  width: 100%;
  @media screen and (max-width: 960px) {
    grid-template-columns: repeat(4, 1fr);
  }
  @media screen and (min-width: 960px) and (max-width: 1300px) {
    grid-template-columns: repeat(8, 1fr);
  }
}

.overflow-y {
  overflow-y: auto;
}

.align-start {
  align-items: flex-start;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.justify-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.row-flex {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.column-flex {
  display: flex;
  flex-direction: column;
}

.mobile {
  @media screen and (max-width: 960px) {
    &-flex-row {
      flex-direction: row;
    }
    &-flex-column {
      flex-direction: column;
    }
    &-justify-center {
      justify-content: center;
    }
    &-justify-between {
      justify-content: space-between;
    }
    &-align-center {
      align-items: center;
    }
  }
}

.h-mobile-90 {
  @media screen and (max-width: 960px) {
    height: 90%;
  }
}

// Responsive margin classes
@for $i from 1 through 5 {
  .m-#{$i} {
    margin: #{$i}rem;
    @media screen and (max-width: 960px) {
      margin: #{$i * 0.75}rem;
    }
  }

  .mv-#{$i} {
    margin-top: #{$i}rem;
    margin-bottom: #{$i}rem;
    @media screen and (max-width: 960px) {
      margin-top: #{$i * 0.75}rem;
      margin-bottom: #{$i * 0.75}rem;
    }
  }

  .mh-#{$i} {
    margin-left: #{$i}rem;
    margin-right: #{$i}rem;
    @media screen and (max-width: 960px) {
      margin-left: 0;
      margin-right: 0;
    }
  }

  .mh-mobile-#{$i} {
    margin-left: 0;
    margin-right: 0;
    @media screen and (max-width: 960px) {
      margin-left: #{$i}rem;
      margin-right: #{$i}rem;
    }
  }
}

// Responsive padding classes
@for $i from 1 through 5 {
  .p-#{$i} {
    padding: #{$i}rem;
    @media screen and (max-width: 960px) {
      padding: #{$i * 0.75}rem;
    }
  }

  .pv-#{$i} {
    padding-top: #{$i}rem;
    padding-bottom: #{$i}rem;
    @media screen and (max-width: 960px) {
      padding-top: #{$i * 0.75}rem;
      padding-bottom: #{$i * 0.75}rem;
    }
  }
  .pv-mobile-#{$i} {
    padding-top: #{$i}rem;
    padding-bottom: #{$i}rem;
    @media screen and (max-width: 960px) {
      padding-top: #{$i * 0.75}rem;
      padding-bottom: #{$i * 0.75}rem;
    }
  }
  .ph-#{$i} {
    padding-left: #{$i}rem;
    padding-right: #{$i}rem;
    @media screen and (max-width: 960px) {
      padding-left: #{$i * 0.75}rem;
      padding-right: #{$i * 0.75}rem;
    }
  }  
  .ph-mobile-#{$i} {
    padding-left: #{$i}rem;
    padding-right: #{$i}rem;
    @media screen and (max-width: 960px) {
      padding-left: #{$i * 0.75}rem;
      padding-right: #{$i * 0.75}rem;
    }
  }
}

.row--end {
  justify-content: end;
}

@for $i from 1 through 12 {
  .col-#{$i} {
    grid-column: span #{$i};
  }
}

@media screen and (max-width: 960px) {
  @for $i from 1 through 4 {
    .col-sm-#{$i} {
      grid-column: span #{$i};
    }
  }
}

@media screen and (min-width: 960px) and (max-width: 1200px) {
  @for $i from 1 through 8 {
    .col-md-#{$i} {
      grid-column: span #{$i};
    }
  }
}