$navWidth:250px;
$light: #ffffff;
$dark:#000000;
$defaultBackground: #DFE6F9;
$searedAccent: #b5c5ff;
$lightAccent: #909CFF;
$mainAccent: #583DFF;
$darkAccent: #101218;
$dimmedAccent:#222837;
$neutralAccent: #d8d8d8;
$searedNeutral:#aaaaaa;
$lightNeutral:#848484;
$darkNeutral:#525252;
$voidNeutral:#181818;
$fatal:#FF2D2D;
$warning:#ffbf50;