h1, h2, h3, h4, h5 {
  font-weight: 700;
}

h1 {
  font-size: 2.5rem;
}

.heading-2--black {
  color: black;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

.container {
  display: flex;
  flex-direction: column;
}

.g-1 {
  gap: 1rem;
}

.row-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column: span 12;
  width: 100%;
}
@media screen and (max-width: 960px) {
  .row-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (min-width: 960px) and (max-width: 1300px) {
  .row-grid {
    grid-template-columns: repeat(8, 1fr);
  }
}

.overflow-y {
  overflow-y: auto;
}

.align-start {
  align-items: flex-start;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.justify-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.row-flex {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.column-flex {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 960px) {
  .mobile-flex-column {
    flex-direction: column;
  }
  .mobile-justify-center {
    justify-content: center;
  }
  .mobile-justify-between {
    justify-content: space-between;
  }
  .mobile-align-center {
    align-items: center;
  }
}

@media screen and (max-width: 960px) {
  .h-mobile-90 {
    height: 90%;
  }
}

.m-1 {
  margin: 1rem;
}
@media screen and (max-width: 960px) {
  .m-1 {
    margin: 0.75rem;
  }
}

.mv-1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
@media screen and (max-width: 960px) {
  .mv-1 {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
  }
}

.mh-1 {
  margin-left: 1rem;
  margin-right: 1rem;
}
@media screen and (max-width: 960px) {
  .mh-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

.mh-mobile-1 {
  margin-left: 0;
  margin-right: 0;
}
@media screen and (max-width: 960px) {
  .mh-mobile-1 {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

.m-2 {
  margin: 2rem;
}
@media screen and (max-width: 960px) {
  .m-2 {
    margin: 1.5rem;
  }
}

.mv-2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
@media screen and (max-width: 960px) {
  .mv-2 {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
}

.mh-2 {
  margin-left: 2rem;
  margin-right: 2rem;
}
@media screen and (max-width: 960px) {
  .mh-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

.mh-mobile-2 {
  margin-left: 0;
  margin-right: 0;
}
@media screen and (max-width: 960px) {
  .mh-mobile-2 {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

.m-3 {
  margin: 3rem;
}
@media screen and (max-width: 960px) {
  .m-3 {
    margin: 2.25rem;
  }
}

.mv-3 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
@media screen and (max-width: 960px) {
  .mv-3 {
    margin-top: 2.25rem;
    margin-bottom: 2.25rem;
  }
}

.mh-3 {
  margin-left: 3rem;
  margin-right: 3rem;
}
@media screen and (max-width: 960px) {
  .mh-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

.mh-mobile-3 {
  margin-left: 0;
  margin-right: 0;
}
@media screen and (max-width: 960px) {
  .mh-mobile-3 {
    margin-left: 3rem;
    margin-right: 3rem;
  }
}

.m-4 {
  margin: 4rem;
}
@media screen and (max-width: 960px) {
  .m-4 {
    margin: 3rem;
  }
}

.mv-4 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
@media screen and (max-width: 960px) {
  .mv-4 {
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
}

.mh-4 {
  margin-left: 4rem;
  margin-right: 4rem;
}
@media screen and (max-width: 960px) {
  .mh-4 {
    margin-left: 0;
    margin-right: 0;
  }
}

.mh-mobile-4 {
  margin-left: 0;
  margin-right: 0;
}
@media screen and (max-width: 960px) {
  .mh-mobile-4 {
    margin-left: 4rem;
    margin-right: 4rem;
  }
}

.m-5 {
  margin: 5rem;
}
@media screen and (max-width: 960px) {
  .m-5 {
    margin: 3.75rem;
  }
}

.mv-5 {
  margin-top: 5rem;
  margin-bottom: 5rem;
}
@media screen and (max-width: 960px) {
  .mv-5 {
    margin-top: 3.75rem;
    margin-bottom: 3.75rem;
  }
}

.mh-5 {
  margin-left: 5rem;
  margin-right: 5rem;
}
@media screen and (max-width: 960px) {
  .mh-5 {
    margin-left: 0;
    margin-right: 0;
  }
}

.mh-mobile-5 {
  margin-left: 0;
  margin-right: 0;
}
@media screen and (max-width: 960px) {
  .mh-mobile-5 {
    margin-left: 5rem;
    margin-right: 5rem;
  }
}

.p-1 {
  padding: 1rem;
}
@media screen and (max-width: 960px) {
  .p-1 {
    padding: 0.75rem;
  }
}

.pv-1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
@media screen and (max-width: 960px) {
  .pv-1 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }
}

.ph-1 {
  padding-left: 1rem;
  padding-right: 1rem;
}
@media screen and (max-width: 960px) {
  .ph-1 {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }
}

.p-2 {
  padding: 2rem;
}
@media screen and (max-width: 960px) {
  .p-2 {
    padding: 1.5rem;
  }
}

.pv-2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
@media screen and (max-width: 960px) {
  .pv-2 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
}

.ph-2 {
  padding-left: 2rem;
  padding-right: 2rem;
}
@media screen and (max-width: 960px) {
  .ph-2 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.p-3 {
  padding: 3rem;
}
@media screen and (max-width: 960px) {
  .p-3 {
    padding: 2.25rem;
  }
}

.pv-3 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
@media screen and (max-width: 960px) {
  .pv-3 {
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;
  }
}

.ph-3 {
  padding-left: 3rem;
  padding-right: 3rem;
}
@media screen and (max-width: 960px) {
  .ph-3 {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }
}

.p-4 {
  padding: 4rem;
}
@media screen and (max-width: 960px) {
  .p-4 {
    padding: 3rem;
  }
}

.pv-4 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
@media screen and (max-width: 960px) {
  .pv-4 {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.ph-4 {
  padding-left: 4rem;
  padding-right: 4rem;
}
@media screen and (max-width: 960px) {
  .ph-4 {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.p-5 {
  padding: 5rem;
}
@media screen and (max-width: 960px) {
  .p-5 {
    padding: 3.75rem;
  }
}

.pv-5 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}
@media screen and (max-width: 960px) {
  .pv-5 {
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
  }
}

.ph-5 {
  padding-left: 5rem;
  padding-right: 5rem;
}
@media screen and (max-width: 960px) {
  .ph-5 {
    padding-left: 3.75rem;
    padding-right: 3.75rem;
  }
}

.row--end {
  justify-content: end;
}

.col-1 {
  grid-column: span 1;
}

.col-2 {
  grid-column: span 2;
}

.col-3 {
  grid-column: span 3;
}

.col-4 {
  grid-column: span 4;
}

.col-5 {
  grid-column: span 5;
}

.col-6 {
  grid-column: span 6;
}

.col-7 {
  grid-column: span 7;
}

.col-8 {
  grid-column: span 8;
}

.col-9 {
  grid-column: span 9;
}

.col-10 {
  grid-column: span 10;
}

.col-11 {
  grid-column: span 11;
}

.col-12 {
  grid-column: span 12;
}

@media screen and (max-width: 960px) {
  .col-sm-1 {
    grid-column: span 1;
  }
  .col-sm-2 {
    grid-column: span 2;
  }
  .col-sm-3 {
    grid-column: span 3;
  }
  .col-sm-4 {
    grid-column: span 4;
  }
}
@media screen and (min-width: 960px) and (max-width: 1200px) {
  .col-md-1 {
    grid-column: span 1;
  }
  .col-md-2 {
    grid-column: span 2;
  }
  .col-md-3 {
    grid-column: span 3;
  }
  .col-md-4 {
    grid-column: span 4;
  }
  .col-md-5 {
    grid-column: span 5;
  }
  .col-md-6 {
    grid-column: span 6;
  }
  .col-md-7 {
    grid-column: span 7;
  }
  .col-md-8 {
    grid-column: span 8;
  }
}
.button {
  white-space: nowrap;
  box-sizing: border-box;
  text-align: center;
  height: fit-content;
  border: none;
  border-radius: 0.5rem;
  color: #ffffff;
  font-weight: 700;
  cursor: pointer;
  transition: 0.2s;
}
.button--small {
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
}
.button--medium {
  padding: 0.75rem 1.5rem;
  font-size: 0.875rem;
}
.button--large {
  padding: 1rem 2rem;
  font-size: 1.125rem;
}
.button--default {
  background-color: #909CFF;
}
@media screen and (max-width: 960px) {
  .button--mobile-absolute-bottom {
    position: absolute;
    bottom: 0;
  }
}
.button--fatal {
  border: 1px solid #FF2D2D;
  background-color: transparent;
}
.button--fatal:hover {
  transform: translateY(-2px);
  box-shadow: 0px 3px 6px #FF2D2D;
  color: #FF2D2D;
}
.button--warning {
  border: 1px solid #ffac1e;
  background-color: transparent;
}
.button--warning:hover {
  transform: translateY(-2px);
  box-shadow: 0px 3px 6px #ffbf50;
  color: #ffbf50;
}
@media screen and (max-width: 960px) {
  .button--mobile-full-width {
    width: 100%;
  }
}
.button--full-width {
  width: 100%;
}
.button--info {
  border: 1px solid #909CFF;
  background-color: transparent;
}
.button--info:hover {
  transform: translateY(-2px);
  box-shadow: 0px 3px 6px #909CFF;
  color: #909CFF;
}

.table {
  border-radius: 1rem 1rem 0 0;
  font-size: 0.875rem;
  max-height: 85vh;
  color: #000000;
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #aaaaaa;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 1fr 18fr;
  box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.1215686275);
}
@media screen and (max-width: 960px) {
  .table {
    box-shadow: none;
    background-color: transparent;
    border: none;
    border-radius: 0;
  }
}
.table__row {
  background-color: #ffffff;
  padding: 0.75rem;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 7fr 48fr 5fr;
  border-bottom: 1px solid #d8d8d8;
}
@media screen and (max-width: 960px) {
  .table__row {
    align-items: center;
    margin-bottom: 1rem;
    border-radius: 1rem;
  }
}
.table__details {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 2fr 1fr;
  gap: 0.5rem;
  width: 100%;
}
@media screen and (max-width: 960px) {
  .table__details {
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
  }
  .table__details .table__cell:first-of-type {
    font-weight: 700;
    font-size: 1rem;
  }
  .table__details .table__cell:last-of-type {
    justify-content: flex-start;
    text-align: start;
  }
}
.table__header {
  border-radius: 1rem 1rem 0 0;
  border-bottom: 1px solid #000000;
  box-sizing: border-box;
  padding: 1rem 2rem 1rem 1rem;
  background-color: #101218;
  color: #ffffff;
}
.table__header .table__cell {
  font-weight: 700;
  display: flex;
  align-items: center;
}
.table__header .table__cell a {
  display: flex;
  align-items: center;
}
.table__header .table__cell:last-of-type {
  text-align: end;
  display: flex;
  justify-content: flex-end;
}
@media screen and (max-width: 960px) {
  .table__header {
    border-radius: 0;
    background-color: transparent;
    overflow-x: scroll;
    width: 100%;
    height: max-content;
    display: flex;
    padding: 0;
    border: none;
  }
  .table__header::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  .table__header .table__cell {
    border-radius: 0.5rem;
    background-color: #000000;
    width: fit-content;
    padding: 0.25rem 0.5rem;
  }
  .table__header .table__cell:last-of-type {
    display: none;
  }
  .table__header .table__cell--active {
    background-color: #583DFF;
  }
  .table__header .table__details {
    display: flex;
  }
}
.table__body {
  overflow-y: scroll;
}
@media screen and (max-width: 960px) {
  .table__body {
    height: 85%;
    margin-top: 1rem;
  }
}
.table__body::-webkit-scrollbar {
  width: 8px;
  margin: 0 0.5rem;
  padding: 0 0.5rem;
}
.table__body::-webkit-scrollbar-track {
  background-color: #d8d8d8;
  border-radius: 1rem;
}
.table__body::-webkit-scrollbar-thumb {
  background-color: #909CFF;
  border-radius: 1rem;
}
.table__cell {
  display: flex;
  align-items: center;
  font-weight: 500;
  text-transform: lowercase;
}
.table__cell:last-of-type {
  text-align: end;
  display: flex;
  justify-content: flex-end;
}
.table__cell:last-of-type img {
  width: 24px;
}

.datePicker {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 0.5rem;
  border-radius: 0.5rem;
}
.datePicker__input {
  box-sizing: border-box;
  width: calc(100% - 1rem);
  margin: 0 auto;
  padding: 0.75rem;
  border: none;
  border-radius: 0.5rem;
  background-color: #583DFF;
  color: white;
  font-size: 0.875rem;
  cursor: pointer;
}
.datePicker__input::-webkit-datetime-edit-ampm-field:focus, .datePicker__input::-webkit-datetime-edit-day-field:focus, .datePicker__input::-webkit-datetime-edit-hour-field:focus, .datePicker__input::-webkit-datetime-edit-millisecond-field:focus, .datePicker__input::-webkit-datetime-edit-minute-field:focus, .datePicker__input::-webkit-datetime-edit-month-field:focus, .datePicker__input::-webkit-datetime-edit-second-field:focus, .datePicker__input::-webkit-datetime-edit-week-field:focus, .datePicker__input::-webkit-datetime-edit-year-field:focus {
  background-color: #101218;
  color: #ffffff;
  outline: none;
}
.datePicker__input:focus {
  outline: none;
}

input[type=date]::-webkit-calendar-picker-indicator {
  filter: invert(1);
  transform: scale(1.5);
  cursor: pointer;
}

.radioInputGroup {
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
  border: none;
  padding: 0;
  font-size: 0.75rem;
}
.radioInputGroup__inputContainer:has(input[type=radio]:checked) {
  border: 1px solid #0055be;
  color: white;
  background-color: #583DFF;
}
@media screen and (max-width: 960px) {
  .radioInputGroup__inputContainer:has(input[type=radio]:checked) {
    scroll-snap-align: start;
    border: none;
  }
}
.radioInputGroup legend {
  margin: 0.5rem 0;
}
.radioInputGroup__inputContainer {
  user-select: none;
  background-color: #101218;
  box-sizing: border-box;
  border: 1px solid rgb(51, 51, 51);
  border-radius: 0.5rem;
  color: white;
  width: 100%;
  text-align: center;
  transition: 0.15s;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.4rem;
  gap: 0.5rem;
}
.radioInputGroup__inputContainer:hover {
  background-color: rgb(51, 51, 51);
}
@media screen and (max-width: 960px) {
  .radioInputGroup__inputContainer:hover {
    background-color: transparent;
  }
}
.radioInputGroup__inputContainer label {
  font-size: 0.875rem;
  font-weight: 700;
  display: grid;
  place-items: center;
  cursor: pointer;
  height: 100%;
  text-transform: lowercase;
  padding: 0.4rem 0;
  width: 100%;
  justify-content: center;
  user-select: none;
}
.radioInputGroup__inputContainer input {
  display: none;
  user-select: none;
}
@media screen and (max-width: 960px) {
  .radioInputGroup__inputContainer {
    min-width: 8rem;
  }
}
@media screen and (max-width: 960px) {
  .radioInputGroup {
    display: flex;
    flex-shrink: 0;
    overflow-x: scroll;
    gap: 1rem;
    width: 90%;
    margin: 0 auto;
  }
  .radioInputGroup::-webkit-scrollbar {
    height: 5px;
    margin: 0 0.5rem;
    padding: 0 0.5rem;
  }
}

.filters {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 0;
  gap: 1rem;
}
.filters__group {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}
@media screen and (max-width: 960px) {
  .filters {
    flex-direction: column;
    align-items: flex-start;
  }
}

.badge {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  z-index: 999;
  padding: 1rem 3rem 1rem 1rem;
  border-radius: 1rem;
  border-left: 2px solid #ffffff;
  gap: 1rem;
  background-color: #ffffff;
  color: black;
  box-shadow: -3px 6px 7px 2px rgba(0, 0, 0, 0.3607843137);
}

.mainNavigation {
  z-index: 1000000;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  box-sizing: border-box;
  padding: 1rem;
  background-color: #101218;
  min-width: 250px;
  max-width: 250px;
  height: 100%;
}
.mainNavigation__logo {
  width: 100%;
  margin: 1rem 0;
}
.mainNavigation h3 {
  white-space: nowrap;
}
@media screen and (max-width: 960px) {
  .mainNavigation {
    transition: 0.1s;
    position: absolute;
    transform: scaleX(0);
    width: 0px;
    min-width: 0px;
    padding: 1rem;
    transform-origin: left;
  }
  .mainNavigation--visible {
    width: 250px;
    transform: scaleX(1);
  }
}

.controls {
  min-width: 250px;
  background-color: #101218;
}

.menu__toggler {
  display: none;
}
@media screen and (max-width: 960px) {
  .menu__toggler {
    display: grid;
    border-radius: 0.5rem;
    cursor: pointer;
    place-items: center;
    background-color: #101218;
    position: absolute;
    left: 0.5rem;
    top: 0.5rem;
    z-index: 10000;
    width: 50px;
    height: 50px;
    transition: 0.1s;
  }
  .menu__toggler--moved {
    left: calc(250px + 1rem);
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  color: #000000;
}
.form__error {
  color: #FF2D2D;
  font-size: 0.75rem;
  margin-top: 0.25rem;
  font-weight: 700;
}
.form--w25 {
  width: 25%;
  max-width: 25%;
}
.form--w50 {
  width: 50%;
  max-width: 50%;
}
.form--w75 {
  width: 75%;
  max-width: 75%;
}
.form--w100 {
  width: 100%;
  max-width: 100%;
}
.form--m5 {
  margin: 5rem;
}
.form--white {
  color: #ffffff;
}
.form--black {
  color: #000000;
}
.form-control {
  width: 100%;
  padding: 1rem 0.5rem;
  border: none;
  border-radius: 0.25rem;
  box-sizing: border-box;
  color: #000000;
  font-size: 0.875rem;
}
.form-control--light-background {
  background-color: #ffffff;
}
.form-control::selection {
  background-color: #b5c5ff;
}
.form-label {
  margin-bottom: 0.5rem;
  font-weight: 700;
  font-size: 0.875rem;
}
.form__inputContainer {
  width: 100%;
}

.pagination {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #525252;
}
.pagination p {
  white-space: nowrap;
}
.pagination__disabled {
  color: gray;
}
.pagination__current {
  padding: 0.25rem 0.5rem;
  background-color: white;
  font-weight: 700;
  border-radius: 0.25rem;
}
.pagination a {
  text-decoration: none;
  font-weight: 900;
  color: black;
  font-size: 1.25rem;
  padding: 0.25rem 0.5rem;
}

.rows_per_page {
  font-weight: 400;
  font-family: "Lato", sans-serif;
  color: #525252;
  display: flex;
  gap: 0.2rem;
  white-space: nowrap;
  align-items: center;
  padding: 0 1rem;
}
.rows_per_page select {
  background-color: #ffffff;
}

.inputSearch {
  position: relative;
  box-sizing: border-box;
}
.inputSearch__badge {
  font-weight: 700;
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
}
.inputSearch__header {
  font-size: 0.875rem;
  outline: none;
  border-radius: 0.25rem;
  width: 7vw;
  box-sizing: border-box;
  padding: 0.5rem 0.25rem;
  border: 1px solid transparent;
}
@media screen and (max-width: 960px) {
  .inputSearch__header {
    width: 100%;
  }
}
.inputSearch__header::placeholder {
  font-weight: 500;
}
.inputSearch__header:focus {
  border: none;
  border-radius: 0.25rem;
  border: 1px solid #583DFF;
  box-sizing: border-box;
  outline: none;
}
.inputSearch__list {
  z-index: 9999;
  left: 0;
  position: absolute;
  background-color: #ffffff;
  color: #000000;
  font-size: 14px;
  max-height: 10rem;
  overflow-y: scroll;
  width: 100%;
  box-sizing: border-box;
  border: none;
}
.inputSearch__list a {
  padding: 1rem 0.5rem;
  box-sizing: border-box;
  color: #000000;
  width: 100%;
  height: 100%;
  display: block;
}
.inputSearch__list li {
  display: none;
  color: #000000;
  font-size: 0.875rem;
  font-weight: 400;
}
.inputSearch__list li:hover {
  cursor: pointer;
}
.inputSearch__list::-webkit-scrollbar {
  width: 8px;
  margin: 0 0.5rem;
  padding: 0 0.5rem;
}
.inputSearch__list::-webkit-scrollbar-track {
  background-color: #000000;
  border-radius: 1rem;
}
.inputSearch__list::-webkit-scrollbar-thumb {
  background-color: #b5c5ff;
  border-radius: 1rem;
}

.card {
  min-height: 7rem;
  display: grid;
  grid-template-columns: 1fr 8fr 1fr;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  border-radius: 0.5rem;
  background-color: #ffffff;
  box-shadow: -2px 2px 3px 3px rgba(0, 0, 0, 0.062745098);
}
.card__title {
  margin-bottom: 0.5rem;
  font-size: 1rem;
}
.card__details {
  display: flex;
  align-items: flex-start;
  margin: 0.5rem 0;
  margin-right: 2rem;
  font-size: 0.75rem;
}
.card__details dt {
  margin-right: 0.25rem;
  font-weight: 700;
}
.card__details * {
  white-space: nowrap;
}
.card__controls {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.card__controls a,
.card__controls form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card--iconOnly {
  grid-template-columns: 1fr;
  padding: 0;
}
@media screen and (max-width: 960px) {
  .card--iconOnly {
    min-height: 6rem;
  }
}
.card--iconOnly:hover {
  transform: translateY(-5px);
  background-color: #909CFF;
  transition: 0.2s;
  border-radius: 0.5rem;
  box-shadow: 2px 9px 8px 3px rgba(0, 0, 0, 0.24);
}
.card--iconOnly a {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

.formIcon {
  background-color: transparent;
}
.formIcon button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.operations {
  display: flex;
}
@media screen and (max-width: 960px) {
  .operations {
    flex-direction: column;
  }
}
.operations * {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.popupMobile {
  display: flex;
  position: relative;
}
.popupMobile .popup__icon {
  display: none;
  z-index: 10;
}
.popupMobile .popup__content {
  display: flex;
}
@media screen and (max-width: 960px) {
  .popupMobile {
    left: 1px;
    flex-direction: column;
  }
  .popupMobile .popup__icon {
    display: block;
    position: relative;
    z-index: 1;
    background-color: #000000;
    padding: 0.5rem;
    border-radius: 0.25rem;
  }
  .popupMobile .popup__icon svg {
    cursor: pointer;
  }
  .popupMobile .popup__content {
    position: absolute;
    z-index: 3;
    background-color: #909CFF;
    border-radius: 0.5rem;
    padding: 1rem;
    top: 3rem;
    flex-direction: column;
  }
  .popupMobile .popup__content--hidden {
    display: none;
  }
}

.mapNavigation {
  display: flex;
  position: absolute;
  z-index: 20000;
  right: 0;
  align-items: center;
  transition: 0.25s;
}
.mapNavigation__container {
  color: #ffffff;
  overflow-y: scroll;
  flex-wrap: nowrap;
  width: 250px;
  height: 100vh;
  background-color: #222837;
  bottom: 0;
  right: 250px;
  z-index: 1000;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
.mapNavigation__container--dark {
  background-color: #101218;
}
@media screen and (max-width: 960px) {
  .mapNavigation__container {
    overflow-y: hidden;
    width: 100vw;
    left: 0px;
    height: 125px;
    flex-direction: row;
    padding: 0.25rem;
  }
}
.mapNavigation__container::-webkit-scrollbar {
  width: 8px;
  margin: 0 0.5rem;
  padding: 0 0.5rem;
}
.mapNavigation__container::-webkit-scrollbar-track {
  background-color: #000000;
  border-radius: 1rem;
}
.mapNavigation__container::-webkit-scrollbar-thumb {
  background-color: #b5c5ff;
  border-radius: 1rem;
}
.mapNavigation--hidden {
  transform: translateX(80%);
}
@media screen and (max-width: 960px) {
  .mapNavigation--hidden {
    transform: translateY(60%);
  }
}
@media screen and (max-width: 960px) {
  .mapNavigation {
    bottom: 0;
    flex-direction: column;
  }
}
.mapNavigation__toggle {
  background-color: #222837;
  aspect-ratio: 1/1;
  position: relative;
  left: 1.5rem;
  display: grid;
  place-items: center;
  z-index: 99999;
  box-shadow: 6px 0px 7px 0px rgba(0, 0, 0, 0.5019607843);
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 50%;
}
.mapNavigation__toggle:hover {
  background-color: #583DFF;
  transition: 0.25s;
}
@media screen and (max-width: 960px) {
  .mapNavigation__toggle {
    top: 1rem;
    left: 0;
  }
  .mapNavigation__toggle svg {
    transform: rotate(90deg);
  }
}

.mapControls {
  display: flex;
  gap: 2rem;
  padding: 1rem;
  box-sizing: border-box;
  flex-direction: column;
  min-width: 250px;
  height: 100vh;
  background-color: #101218;
}
@media screen and (max-width: 960px) {
  .mapControls {
    height: fit-content;
    bottom: 0;
    width: 100vw;
  }
}

.stop {
  box-sizing: border-box;
  background-color: #000000;
  border-radius: 0.5rem;
  font-weight: 700;
  margin: 0 auto;
  font-size: 0.875rem;
  cursor: pointer;
  display: grid;
  grid-template-columns: 1fr 5fr;
  width: 100%;
  box-sizing: border-box;
}
.stop__icon {
  display: grid;
  place-items: center;
  padding: 0.5rem;
  background-color: #583DFF;
  border-radius: 0.5rem 0 0 0.5rem;
}
.stop__content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-start;
  color: #848484;
  padding: 0.5rem;
}
@media screen and (max-width: 960px) {
  .stop__content {
    font-size: 0.625rem;
  }
}
.stop__title {
  font-weight: 900;
  white-space: nowrap;
  color: #ffffff;
  font-size: 1rem;
}
@media screen and (max-width: 960px) {
  .stop__title {
    font-size: 0.75rem;
  }
}
.stop:hover {
  transition: 0.2s;
  background-color: #181818;
}

.search {
  background-color: red;
  width: 100%;
}
.search__badge {
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
  font-weight: 700;
}
.search__form {
  width: 100%;
}
.search__input {
  width: 7vw;
  padding: 0.5rem 0.25rem;
  border-radius: 0.25rem;
  color: rgb(0, 0, 0);
  border: none;
  font-size: 0.875rem;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  border: 1px solid #ffffff;
}
.search__input:focus {
  box-sizing: border-box;
  outline: none;
  border: 1px solid #909CFF;
}
@media screen and (max-width: 960px) {
  .search__input {
    width: 100%;
  }
}

.simpleSelect {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 960px) {
  .simpleSelect {
    width: 100%;
  }
}
.simpleSelect__label {
  font-weight: 300;
  color: #000000;
  padding-right: 0.5rem;
}
@media screen and (max-width: 960px) {
  .simpleSelect__label {
    color: #ffffff;
  }
}
.simpleSelect__select {
  background-color: #ffffff;
  border-radius: 0.25rem;
  border: none;
  padding: 0.25rem 0.5rem;
}

*::-webkit-scrollbar {
  width: 8px;
  margin: 0 0.5rem;
  padding: 0 0.5rem;
}
*::-webkit-scrollbar-track {
  background-color: #181818;
  border-radius: 1rem;
}
*::-webkit-scrollbar-thumb {
  background-color: #b5c5ff;
  border-radius: 1rem;
}

body {
  overflow: hidden;
  display: flex;
  height: 100vh;
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.mainContent {
  padding: 1rem;
  box-sizing: border-box;
  width: calc(100% - 250px);
  height: 100vh;
  background-color: #DFE6F9;
  overflow-y: hidden;
}
@media screen and (max-width: 960px) {
  .mainContent {
    width: 100%;
    padding: 0.5rem;
    padding-top: 4rem;
  }
}

.captionedIcon {
  display: flex;
  gap: 1rem;
}
.captionedIcon__icon {
  filter: invert(1);
}
.captionedIcon--vertical {
  flex-direction: row;
}
.captionedIcon--horizontal {
  flex-direction: column;
}

#map {
  height: 100vh;
  width: calc(100vw - 250px);
}
@media screen and (max-width: 960px) {
  #map {
    width: 100vw;
  }
}

.links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
}
.links__item {
  font-weight: 700;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  color: #ffffff;
  text-decoration: none;
}
.links__item svg {
  fill: #ffffff;
}

.controls {
  display: flex;
  gap: 2rem;
  padding: 1rem;
  box-sizing: border-box;
  flex-direction: column;
}

input[type=color] {
  background-color: transparent;
  border: none;
  appearance: none;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.searchResults {
  padding-bottom: 0.5rem;
}

/*# sourceMappingURL=main.css.map */
