.button {
  min-width: 5rem;
  height: fit-content;
  border: none;
  color: white;
  font-weight: 700;
  cursor: pointer;
  transition: 0.2s;
}
.button--small {
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
}
.button--medium {
  padding: 0.75rem 1.5rem;
  font-size: 0.875rem;
}
.button--large {
  padding: 1rem 2rem;
  font-size: 1.125rem;
}
.button--default {
  background-color: #0055be;
}
.button--fatal {
  border: 1px solid rgb(255, 71, 71);
  background-color: transparent;
}
.button--fatal:hover {
  box-shadow: 0px 3px 6px rgb(255, 71, 71);
  transform: translateY(-2px);
  color: rgb(255, 71, 71);
}
.button--warning {
  border: 1px solid #ffac1e;
  background-color: transparent;
}
.button--warning:hover {
  box-shadow: 0px 3px 6px #ffbf50;
  transform: translateY(-2px);
  color: #ffbf50;
}
.button--full-width {
  width: 100%;
}
.button--info {
  border: 1px solid #4770FF;
  background-color: transparent;
}
.button--info:hover {
  box-shadow: 0px 3px 6px #4770FF;
  transform: translateY(-2px);
  color: #4770FF;
}

.table {
  height: 90%;
  font-size: 0.875rem;
  color: #000000;
  width: 100%;
  background-color: white;
  border: 1px solid #aaaaaa;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 1fr 18fr;
  box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.1215686275);
}
.table__row {
  background-color: white;
  padding: 0.75rem;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 2rem 25rem repeat(auto-fit, minmax(50px, 1fr));
  border-bottom: 1px solid #ddd;
}
.table__header {
  border-bottom: 1px solid black;
  box-sizing: border-box;
  padding: 1rem 2rem 1rem 1rem;
  background-color: #101218;
  color: white;
}
.table__header .table__cell {
  font-weight: 700;
  display: flex;
  align-items: center;
}
.table__header .table__cell:last-of-type {
  text-align: end;
  display: flex;
  justify-content: flex-end;
}
.table__body {
  overflow-y: scroll;
}
.table__body::-webkit-scrollbar {
  width: 8px;
  margin: 0 0.5rem;
  padding: 0 0.5rem;
}
.table__body::-webkit-scrollbar-track {
  background-color: #e0e0e0;
  border-radius: 1rem;
}
.table__body::-webkit-scrollbar-thumb {
  background-color: #b5c5ff;
  border-radius: 1rem;
}
.table__cell {
  display: flex;
  align-items: center;
  font-weight: 500;
  text-transform: lowercase;
  word-break: break-word;
}
.table__cell:last-of-type {
  text-align: end;
  display: flex;
  justify-content: flex-end;
}
.table__cell:last-of-type img {
  width: 24px;
}

.datePicker {
  width: 100%;
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.datePicker__input {
  box-sizing: border-box;
  width: calc(100% - 1rem);
  margin-left: 1rem;
  padding: 1rem;
  background-color: transparent;
  border: 2px solid #ffffff;
  color: white;
  font-size: 0.875rem;
  font-weight: 700;
}

input[type=date]::-webkit-calendar-picker-indicator {
  filter: invert(1);
  transform: scale(1.5);
  cursor: pointer;
}

.radioInputGroup {
  overflow-x: hidden;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr;
  border: none;
}
.radioInputGroup__inputContainer:has(input[type=radio]:checked) {
  transform: translateX(1rem);
  border-left: 5px solid white;
  background-color: #0055be;
}
.radioInputGroup legend {
  margin: 0.5rem 0;
}
.radioInputGroup__inputContainer {
  width: 100%;
  background-color: black;
  text-align: center;
  padding: 0.5rem;
  transition: 0.15s;
  display: flex;
  border-left: 2px solid rgba(0, 0, 0, 0);
  align-items: center;
  gap: 0.5rem;
}
.radioInputGroup__inputContainer:hover {
  background-color: rgb(51, 51, 51);
}
.radioInputGroup__inputContainer label {
  display: grid;
  place-items: center;
  cursor: pointer;
  height: 100%;
  text-transform: lowercase;
  padding: 0.4rem 0;
  font-size: 0.875rem;
  font-weight: 700;
  width: 100%;
  justify-content: left;
}
.radioInputGroup__inputContainer input {
  display: none;
}

.filters {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
  padding: 0;
}
.filters__group {
  width: 100%;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.badge {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  z-index: 999;
  background-color: white;
  color: black;
  padding: 1rem 3rem 1rem 1rem;
  gap: 1rem;
  border-radius: 1rem;
  border-left: 2px solid white;
  box-shadow: -3px 6px 7px 2px rgba(0, 0, 0, 0.3607843137);
}

.inputSearch {
  position: relative;
  box-sizing: border-box;
  border: 1px solid rgb(45, 45, 45);
}
.inputSearch__header {
  width: 100%;
  box-sizing: border-box;
  padding: 1rem 0.5rem;
  background-color: black;
  border: 1px solid #101218;
  outline: 1px solid #101218;
  border-bottom: 1px solid #65B4FD;
  color: white;
}
.inputSearch__header::placeholder {
  font-weight: 700;
}
.inputSearch__header:focus {
  border: none;
  border-radius: 0;
  border: 1px solid rgb(15, 65, 216);
  box-sizing: border-box;
  outline: none;
}
.inputSearch__list {
  z-index: 9999;
  left: 0;
  position: absolute;
  background-color: white;
  color: black;
  font-size: 14px;
  max-height: 10rem;
  overflow-y: scroll;
  width: 100%;
  box-sizing: border-box;
}
.inputSearch__list li {
  padding: 1rem 0.25rem;
}

h1, h2, h3, h4, h5 {
  font-weight: 700;
}

h1 {
  font-size: 2.5rem;
}

.heading-2--black {
  color: black;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

.container {
  display: flex;
  flex-direction: column;
}

.row-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column: span 12;
  width: 100%;
}

.justify-end {
  justify-content: flex-end;
}

.row-flex {
  display: flex;
  width: 100%;
}

.row--end {
  justify-content: end;
}

.col-1 {
  grid-column: span 1;
}

.col-2 {
  grid-column: span 2;
}

.col-3 {
  grid-column: span 3;
}

.col-4 {
  grid-column: span 4;
}

.col-5 {
  grid-column: span 5;
}

.col-6 {
  grid-column: span 6;
}

.col-7 {
  grid-column: span 7;
}

.col-8 {
  grid-column: span 8;
}

.col-9 {
  grid-column: span 9;
}

.col-10 {
  grid-column: span 10;
}

.col-11 {
  grid-column: span 11;
}

.col-12 {
  grid-column: span 12;
}

.mainNavigation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 1.5rem;
  background-color: #101218;
  min-width: 350px;
  height: 100%;
}

.loader {
  width: 120px;
  height: 10px;
  background: linear-gradient(#4d0cff 0 0) 0/0% no-repeat #ddd;
  animation-name: l1;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

@keyframes l1 {
  100% {
    background-size: 100%;
  }
}
.form {
  display: flex;
  flex-direction: column;
  color: black;
}
.form--w25 {
  width: 25%;
  max-width: 25%;
}
.form--w50 {
  width: 50%;
  max-width: 50%;
}
.form--w75 {
  width: 75%;
  max-width: 75%;
}
.form--w100 {
  width: 100%;
  max-width: 100%;
}
.form--m5 {
  margin: 5rem;
}
.form--white {
  color: white;
}
.form--black {
  color: black;
}

.pagination {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #333;
}
.pagination__current {
  padding: 0.25rem 0.5rem;
  background-color: white;
  font-weight: 700;
  border-radius: 0.25rem;
}
.pagination a {
  text-decoration: none;
  font-weight: 900;
  color: black;
  font-size: 1.25rem;
  padding: 0.25rem 0.5rem;
}

/*# sourceMappingURL=index.css.map */
