@forward "components";
@use "utils";
body
{
    height: 100vh;
    font-family: "Raleway", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color:white;
    display: flex;
}
.captionedIcon
{
    display: flex;
    gap:1rem;
    &__icon
    {
        filter: invert(1);
    }
    &--vertical
    {
        flex-direction: row;
    }
    &--horizontal
    {
        flex-direction: column;
    }
}
select, input[type="search"]
{
    padding:1rem 0.5rem;
    width: 100%;
    color:rgb(255, 255, 255); 
    border:none;
    background-color: rgb(0, 0, 0);
    box-shadow: 0px 5px 5px 0px #0000001f;
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    font-weight: 700;
}
#map
{
    height: 100vh;
    width: calc(100vw - utils.$navWidth);
}

.links
{
    display: flex;
    flex-direction: column;
    gap:1rem;
    &__item
    {
        font-weight: 700;
        display: flex;
        gap:.5rem;
        align-items: center;
        color:white;
        text-decoration: none;
        & svg
        {
            fill: white;
        }
    }
}
.controls
{
    display: flex;
    gap:1rem;
    flex-direction: column;
    justify-content: space-between;
}
input[type="color"]
{
    background-color: transparent;
    border:none;
    appearance: none;
}