@forward "components";
@use "utils";
body
{
    height: 100vh;
    font-family: "Lato", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color:white;
    display: flex;
}

.mainContent
{
    padding:1rem;
    box-sizing: border-box;
    // background-color: red;
    width: calc(100% - 350px);
    height: 100lvh;
}
.captionedIcon
{
    display: flex;
    gap:1rem;
    &__icon
    {
        filter: invert(1);
    }
    &--vertical
    {
        flex-direction: row;
    }
    &--horizontal
    {
        flex-direction: column;
    }
}
select, input[type="search"]
{
    padding:1rem 0.5rem;
    width: 100%;
    color:rgb(255, 255, 255); 
    border:none;
    background-color: rgb(0, 0, 0);
    box-shadow: 0px 5px 5px 0px #0000001f;
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    font-weight: 700;
}
#map
{
    height: 100vh;
    width: calc(100vw - utils.$navWidth);
}

.links
{
    display: flex;
    flex-direction: column;
    gap:1rem;
    &__item
    {
        font-weight: 700;
        display: flex;
        gap:.5rem;
        align-items: center;
        color:white;
        text-decoration: none;
        & svg
        {
            fill: white;
        }
    }
}
.controls
{
    display: flex;
    gap:1rem;
    flex-direction: column;
    justify-content: space-between;
}
input[type="color"]
{
    background-color: transparent;
    border:none;
    appearance: none;
}
.stopsContainer
{
    position: absolute;
    width: 200px;
    min-height: 250px;
    max-height: 250px;
    overflow-y: scroll;
    bottom: 10rem;
    right: 2rem;
    z-index: 1000;
    background-color: white;
    color:black;
    & h4{
        color:white;
        padding:.75rem 0;
        font-weight: 700;
        font-size: 1.25rem;
        background-color: black;
        text-align: center;
    }
    & .stop{
        border:1px solid gray;
        background-color: #dbebff;
        display: grid;
        grid-template-columns: 1fr 3fr;
        gap:1rem;
        align-items: center;
        &__number
        {
            background-color: #0055be;
            padding:1rem 0;
            text-align: center;
            color:white;
            font-weight: 700;
        }
    }
}